<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="contact_menu_root"
        name="Software"
        parent="crm.crm_menu_root"
        sequence="2"
        />

    <menuitem id="software_list_menu"
        name="Software List"
        action="action_software_contact"
        parent="contact_menu_root"
        sequence="2"/>

    <menuitem id="softwarecategory_menu"
        name="Catgeory"
        action="action_software_category"
        parent="contact_menu_root"
        sequence="2"/>
     
   

</odoo>
